// Formula for responsive
$desk: 100/1366;

// Color Variables
$colorRed: #e31e24;
$colorGrey: #545454;
$colorLightGrey: #bfbfbf;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorlightWhite: #eeeeee;

// Font-weight Variables
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-800: 800;
